<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registro de Usuarios</title>
</head>
<body>
	<div
		class="container-fluid d-flex align-items-center justify-content-center vh-90">
		<div class="row">
			<div class="px-5 ms-xl-4">
				<i class="fa fa- fa-2x me-3 pt-5 mt-xl-4"></i> <span
					class="h1 fw-bold mb-0" style="color: #1C3897;">REGISTRO DE USUARIO</span>
			</div>
			<div class="col px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
				<form method="post" th:action="@{/auth/guardarUsuario}">
					<div class="row mb-4">
						<div class="col">
							<div class="form-outline">
								<label class="form-label" for="nomusuario">Nombres</label> <input
									type="text" name="nomusuario" class="form-control" />
							</div>
						</div>
		
				</form>
			</div>
		</div>
	</div>

</body>
</html>